 @import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Indic+Siyaq+Numbers:regular); 

 /* button related */
 .btn-primary{
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    padding: 20px;
    background-color: #FF900E;
    border: none;
    border-radius: 10px;
    cursor: pointer;
 }
 *{
font-family: 'Work Sans', sans-serif;
 }
 .text-light-gray{
   color: #727272;
 }
 .text-all-title{
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
 }

 /* header related style */

 header{
    background-color: rgba(236, 178, 112, 0.1);
    padding: 50px 240px;
 }
 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 nav>ul{
    display: flex;
 }
 nav li{
    text-decoration: none;
    margin-left: 30px;
    color: #424242;
    list-style: none;
 }
 /* banner style */
 .banner-content{
    max-width: 800px;
    margin: 0px auto;
    text-align: center;
 }
 .banner-title{
    font-weight: 700;
    font-size: 3rem;
    color: #131313;
 }
 

 header img{
    width: 100%;
    margin-top: 20px;
 }
 /* features style */
 main{
    max-width: 1440px;
    padding-left: 140px;
    padding-right: 140px ;
 }
 .teams-container{
    display: flex;
    background-color: #fff;
    align-items: center;
    padding-top: 80px; 
 }
 .feature-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    border-radius: 10px;
 }
 .feature-title-content{
    padding-left: 70px;
 }
 .features-title .quick-list{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
 }
 .features-title .of-our{
    color:black;
    font-size: 2.8rem;
    font-weight: 500;
 }
 .features-title .feature{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 500;
 }
 .features-description{
    color: #727272;
    font-weight: 400;
 }
 /* features styles */
 .featuress{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 130px;
    gap: 100px;
    justify-content: space-between;
 }
 .feature-content .card{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px 0px;
    border-radius: 5px;
 }
 .features-photo img{
    width: 100%;
 }
 .section-title{
    color: #131313;
    font-weight: 700;
    font-size: 2rem;
    border-left: 5px solid #FF900E;
    padding-left: 5px;
 }
 .ten-years-badge{
    width: 340px;
    background-color: #FF900E;
    color: #fff;
    padding: 30px;
 }
 .ten-years-badge h2{
    font-size: 3rem;
 }
 /* facts related style */
 .facts-content .card{
    border: 1px solid #FF900E;
    padding: 30px;
 }
.facts-content{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.facts-content-stats{
  color: #424242;
  font-weight: 600;
  font-size: 2.8rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.facts-content-title{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}
/* sponsor related style */
.our-sponsor-cotainer{
    text-align: center;
    padding-top: 80px;
}
.our-sponsor-container-logo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    text-align: center;
    gap: 20px;
    padding: 30px;
}
.our-sponsor-container-logo img{
    width: 165px;
}
.footer-section{
    color: #424242;
    font-size: 1.25rem;
    background-color: #FFFFF4E7;
    padding: 40px auto;
    text-align: center;
}







  /* media queries tablet */
 @media screen and (max-width: 576px) {

    header {
        padding: 20px;
    }
    nav , .teams-container , 
    .facts-content,
    .our-sponsor-container-logo
    {
        flex-direction: column;
    }
    .feature-image{
        grid-template-columns: 1fr;
    }
    .feature-title-content{
        padding: 5px;
    }
    main{
        padding: 20px;
    }
    .facts-content{
        gap: 20px;
    }
}
    
 
 @media screen and (min-width: 576px) and (max-width: 992px) {
    header{
        padding: 50px;
    }
    nav , 
    .teams-container ,
    .our-sponsor-container-logo
    {
        flex-direction: column;
    }
    .feature-title-content{
        padding: 20px;
    }
 }