 @import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Indic+Siyaq+Numbers:regular); 

 /* button related */
 .btn-primary{
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    padding: 20px;
    background-color: #FF900E;
    border: none;
    border-radius: 10px;
    cursor: pointer;
 }
 *{
font-family: 'Work Sans', sans-serif;
 }
 /* header related style */

 header{
    background-color: rgba(236, 178, 112, 0.1);
    padding: 50px 240px;
 }
 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .nav-title{
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
 }
 nav>ul{
    display: flex;
 }
 nav li{
    text-decoration: none;
    margin-left: 30px;
    color: #424242;
    list-style: none;
 }
 /* banner style */
 .banner-content{
    max-width: 800px;
    margin: 0px auto;
    text-align: center;
 }
 .banner-title{
    font-weight: 700;
    font-size: 3rem;
    color: #131313;
 }
 .banner-description{
    color: #727272;
 }
 header img{
    width: 100%;
    margin-top: 20px;
 }
 /* features style */
 main{
    max-width: 1440px;
    padding-left: 300px;
    padding-right: 140px ;
 }
 .teams-container{
    display: flex;
    background-color: #fff;
    align-items: center;
    padding-top: 50px; 
 }
 .feature-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    border-radius: 10px;
 }
 .feature-title-content{
    padding-left: 70px;
 }
 .features-title .quick-list{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
 }
 .features-title .of-our{
    color:black;
    font-size: 2.8rem;
    font-weight: 500;
 }
 .features-title .feature{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 500;
 }
 .features-description{
    color: #727272;
    font-weight: 400;
 }
 /* media queries tablet */
 @media screen and (min-width: 576px) and (max-width: 992px) {
    header{
        padding: 20px;
    }
    nav {
        flex-direction: column;
    }
    
 }